/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../opt/boxen/data/rvm/gems/ruby-1.9.2-p290/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Responsive General Sass Mixing function */
/* line 3, scss/_mugshot.scss */
.box {
  margin: 60px auto 25px;
  /* positioning */
  background: transparent;
  display: block;
  width: 230px;
  /* width of the circle frame */
  height: 230px;
  /* height of the circle frame */
  border-radius: 50%;
  /* 50% and up makes a circle */
  border: 1px solid purple;
  text-align: center;
  padding: 0;
  box-shadow: 0 0 0 5px #faf2c1, 0 -4px 5px 4px rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
@media (max-width: 480px) {
  /* line 3, scss/_mugshot.scss */
  .box {
    width: 190px;
    height: 190px;
  }
}

/* line 21, scss/_mugshot.scss */
.box .photo1 {
  background: url("https://lh3.googleusercontent.com/-Y7BSUSAjY00/Tv6-sh1hnHI/AAAAAAAAARY/6FMQAd2-aWg/w469-h368-no/IMG_0786.JPG");
}

/* line 25, scss/_mugshot.scss */
.box .photo2 {
  background: url("../../assets/images/pups-hq.png");
}

/* line 29, scss/_mugshot.scss */
.box .photo3 {
  background: url("../../assets/images/bleep-hq.png");
}

/* line 33, scss/_mugshot.scss */
.box .photo4 {
  background: url("../../assets/images/glass-hq.png");
}

/* line 37, scss/_mugshot.scss */
.box .photo1,
.box .photo2,
.box .photo3,
.box .photo4 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  opacity: 0.6;
}

/* line 44, scss/_mugshot.scss */
.box .member {
  width: 100%;
  max-width: 230px;
  /* width of the interior image */
  height: 100%;
  max-height: 230px;
  /* height of the interior image */
  border-radius: 50%;
  /* 50% and up makes a circle */
  margin: 0 auto;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

/* line 10, scss/main.scss */
.hero {
  background: url(../images/linen.png);
  color: #FFF;
  text-align: center;
  padding-top: 35px;
  width: 100%;
  height: 100%;
}
/* line 18, scss/main.scss */
.hero h1 {
  font-family: 'Junction', Verdana;
  font-size: 5.9em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #EEE;
  padding-top: 30px;
  text-shadow: -2px -2px 0 #000;
}
/* line 29, scss/main.scss */
.hero a {
  color: #faf2c1;
  font-size: 25px;
}
/* line 32, scss/main.scss */
.hero a span {
  text-indent: -999em;
  display: block;
}
/* line 38, scss/main.scss */
.hero a:hover {
  text-decoration: underline;
}
/* line 42, scss/main.scss */
.hero .para {
  margin: 15px auto 15px auto;
  width: 80%;
}
/* line 47, scss/main.scss */
.hero .social-icons {
  overflow: hidden;
  margin: 10px auto 25px auto;
  padding: 0;
  width: 298px;
}
/* line 54, scss/main.scss */
.hero .social-icons li {
  float: left;
  margin-left: 25px;
  padding: 0;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 660px) {
  /* line 79, scss/main.scss */
  .hero {
    font-size: 1em;
  }
}
/* scaffolding */
/* line 114, scss/main.scss */
.wrapper {
  width: 100%;
}

/* line 118, scss/main.scss */
html, body {
  height: 100%;
}

/* line 122, scss/main.scss */
body {
  background-color: #FFF;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  color: #333;
}

/* line 130, scss/main.scss */
li {
  list-style: none;
}

/* line 134, scss/main.scss */
.mauto {
  margin: 0 auto;
  display: block;
}

/* line 139, scss/main.scss */
.pull-left {
  float: left;
}

/* line 143, scss/main.scss */
.clearfix {
  overflow: hidden;
}

/* line 147, scss/main.scss */
.text-center {
  text-align: left;
}

/* line 151, scss/main.scss */
.mleft0 {
  margin-left: 0 !important;
}
