<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>朱学进</title>
    <meta name="author" content="Henry Zhu" />
    <meta name="description" content="Henry's Website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="@henballs" />
    <meta property="og:description" content="Hi I'm Henry" />
    <meta property="og:image" content="assets/images/avatar5.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://henryzhu.me" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/tachyons.css" />
    <link
      href="assets/favicon//favicon-32x32.png"
      rel="shortcut icon"
      type="image/vnd.microsoft.icon"
    />
  </head>
  <body class="h-100">
    {{ content }}
  </body>
</html>
