/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "mugshot";
@import "mixins";

.hero {
  background: url(../images/linen.png);
  color: #FFF;
  text-align: center;
  padding-top: 35px;
  width: 100%;
  height: 100%;

	h1 {
		font-family: 'Open Sans', 'Junction', Verdana;
    font-size: 5em;
    font-weight: 300;
    margin-bottom: 25px;
    color: #faf2c1;
    padding-top: 10px;
    text-shadow: -2px -2px 0 #000;
	}
  
	a {
		color: #faf2c1;
		font-size: 25px;
    span {
      text-indent: -999em;
      display: block;
    }
	}

	a:hover {
		text-decoration: underline;
	}

  span {
        color: #faf2c1;
  }

	.social-icons {
		overflow: hidden;
		margin: 10px auto 0px auto;
		padding: 0;
    width: 277px;
	}

	.social-icons li {
		float: left;
		margin-left: 25px;
		padding: 0;
	}
}



/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

@media (max-width: 660px) {
  .hero {
    font-size: 1em;
  }
}
 





























/* scaffolding */
.wrapper {
  width: 100%;
}

html, body { 
  height: 100%; 
}

body {
  background-color: #FFF;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  color: #333;
}


li {
  list-style: none;
}

.mauto {
  margin: 0 auto;
  display: block;
}

.pull-left {
  float: left;
}

.clearfix {
  overflow: hidden;
}

.text-center {
  text-align: left;
}

.mleft0 {
  margin-left: 0 !important;
}
